.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.chart-container {
  position: relative;
  display: flex;
}

.humidity_chart {
  position: absolute;
  height: 45vh;
  top: 50vh;
  left: 2%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.hour_chart_humi {
  position: absolute;
  height: 45vh;
  top: 2vh;
  left: 2%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.hour_chart_temp {
  position: absolute;
  height: 45vh;
  top: 2vh;
  left: 42%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.hour_chart_temp:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px rgb(129, 120, 120);
}
.hour_chart_humi:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px rgb(129, 120, 120);
}
.humidity_chart:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px rgb(129, 120, 120);
}

.form-radio{
  position: absolute;
  right: 5%;
  top: 5vh;
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.form-info {
  position: absolute;
  right: 5%;
  top: 35vh;
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;

}

.form-text {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .hour_chart_temp {
    top: 2vh;
    left: 2%;
  }
  .hour_chart_humi {
    top: 52vh;
    left: 2%;
  }
  .humidity_chart {
    top: 102vh;
    left: 2%;
    width: 500px;
  }
  .form-info {
    top: 152vh;
    left: 5%;
  }
}
