.wrapper{
    min-height: 100vh;
    overflow-x: hidden;
}

.chart-container{
    position: relative;
    display: flex;
}

.humidity_chart{
    position: absolute;
    height: 45vh;
    top: 2vh;
    left: 2%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3%;
    z-index: 1;
}

.week_chart{
    position: absolute;
    height: 45vh;
    top: 2vh;
    left: 51%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3%;
    z-index: 1;
}

.form-info{
    position: absolute;
    left: 2%;
    top: 50vh;
}

.humidity_chart:hover{
    transform: scale(1.03);
    box-shadow: 0 0 5px rgb(129, 120, 120);
}

.week_chart:hover{
    transform: scale(1.03);
    box-shadow: 0 0 5px rgb(129, 120, 120);
}

.form-text{
    font-size: 20px;
}

@media screen and (max-width : 1200px){
    .week_chart{
        top: 52vh;
        left: 2%;
    }
    .form-info{
        top: 2vh;
        left: 75%;
    }
}
